body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background-color: #fff;
  color: #333;
}

header {
  background-color: #E8B6C9; /* Rosa Konvexa */
  color: #000;
  text-align: center;
  padding: 2rem 1rem;
}

.intro {
  text-align: center;
  padding: 2rem;
  background-color: #f9f9f9;
}

.contacto {
  background-color: #000;
  color: #fff;
  padding: 2rem;
  text-align: center;
}

footer {
  background-color: #E8B6C9;
  color: #000;
  text-align: center;
  padding: 1rem;
}
